# Entorno virtual (Fundamental)
.venv/

# Pesos de YOLO (Evita que el repo sea pesadísimo)
*.pt
runs/
jitomate_v1_17marzo2026/

# Datasets de entrenamiento
test/
train/
valid/

# Archivos multimedia y comprimidos
*.avi
*.zip
*.mp4
Macizo_Moctezuma/
Conteo_v1/

# Archivos de PyCharm
.idea/