# Entorno virtual (Fundamental)
.venv/

# Pesos de YOLO (Evita que el repo sea pesadísimo)
*.pt
runs/

# Datasets de entrenamiento
test/
train/
valid/

# Archivos multimedia y comprimidos
*.avi
*.zip

# Archivos de PyCharm
.idea/